<%= form_with(model: [@coffee_brand, @coffee_review], local: true) do |f| %>
  <fieldset class="mb-3">
    <legend>Your Information</legend>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.label :username, "Username", class: "form-label" %>
        <%= f.text_field :username, class: "form-control", required: true %>
      </div>
    </div>
  </fieldset>

  <fieldset class="mb-3">
    <legend>Your Review</legend>

    <div class="mb-3">
      <%= f.label :rating, "Rating", class: "form-label" %>
      <select name="coffee_review[rating]" class="form-select" required>
        <option value="">Select rating</option>
        <% (1..5).each do |i| %>
          <option value="<%= i %>"><%= i %> ★</option>
        <% end %>
      </select>
    </div>

    <div class="mb-3">
      <%= f.label :review, "Review", class: "form-label" %>
      <%= f.text_area :review, class: "form-control", rows: 4, required: true %>
    </div>
  </fieldset>

  <%= f.submit "Submit Review", class: "btn btn-primary" %>
<% end %>